{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'travelapp/css/login/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign in</title>
    <style>
        body {
            background-image: url("{% static 'travelapp/img/zxc.gif' %}");
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Ubuntu', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="main">
        <p class="sign" align="center">로그인</p>
        <form class="form1" form id="fm" name="fm" method="post" action="/travel/login_chk/">
            {% csrf_token %}
            <input class="un" type="text" align="center" placeholder="ID" name="mem_id" required>
            <input class="pass" type="password" align="center" placeholder="Password" name="mem_pw" required>
            <input type="submit" class="submit" align="center" value="로그인"></input>
            {% comment %} <input type="submit" value="로그인"> {% endcomment %}
            <p class="forgot" align="center"><a href="/travel/signup/">회원가입</a></p>
        </form>
    </div>
</body>
</html>