<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 회원관리 - 전체조회 :::</title>
    <script type="text/javascript">
        // 회원 상세페이지 가기
        function goView(mem_id){
            // alert(mem_id);
            url = "/oracle/mem_view/?";
            url = url + "mem_id="+mem_id;
            // alert(url);
            // get방식으로 전송시에는 location.href 사용
            location.href = url;
        }
    </script>
</head>
<body>
    <h3>회원관리 - 전체조회</h3>
    <hr/>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>비밀번호</th>
            <th>취향</th>
            <th>테마</th>
        </tr>
    <!-- [mem_list 형태] 
        [{"mem_id":"a001", "mem_pass":"asdf", "mem_name":"김","mem_add1":"주소"},
          {"mem_id":"a001", "mem_pass":"asdf", "mem_name":"김","mem_add1":"주소"}, 
          {}....]

     -->
    {% for mem in mem_list %}
        <tr>
            <td>{{ mem.mem_id }}</td>
            <td>{{ mem.mem_nm}}</td>
            <td><a href="javascript:goView('{{ mem.mem_id }}');">
                    {{ mem.mem_pw }}</a></td>
            <td>{{ mem.teste }}</td>
            <td>{{ mem.tema }}</td>

        </tr>
    {% endfor %}
    </table>
</body>
</html>